body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f3f3f3;
}

.login-container {
  position: relative;
}

.daisy {
  width: 100px;
  height: 100px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: sway 5s infinite alternate ease-in-out;
}

.login-button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #2980b9;
  animation: faster-sway 1s infinite alternate ease-in-out;
}

@keyframes sway {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(10deg);
  }
}

@keyframes faster-sway {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(15deg);
  }
}
